[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
geopandas = "*"
pandas = "*"
tenacity = "*"
eunis-habitat-classifier = {file = ".", editable = true}
matplotlib = "*"
pre-commit = "*"
seaborn = "*"
pyarrow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
